<!DOCTYPE html>
<html>
  <head>
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
     <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
     <title>Mappp</title>
     <link rel="stylesheet" href="http://js.arcgis.com/3.14/esri/css/esri.css" >   
     <style>
      html, body, #mapDiv {
        height:100%;
        width: 100%;
        margin: 0;
        padding: 10;
      }
      body {
        background-color: #FFF;
        overflow: hidden;
        font-family: "Trebuchet MS";
      }
    </style>
    <script src="http://js.arcgis.com/3.14/"></script> 
    <script>
        var map,
		    webmapId = "63ab8f3263a64b69a7279c9000838039";
        require([
      "esri/map",
      "esri/arcgis/utils",
      "esri/dijit/Legend",
      "dojo/domReady!"
      ], function (Map, arcgisUtils, Legend) {
        arcgisUtils.createMap(webmapId, "mapDiv").then(function (response) {
        map = response.map;
        
    });
    });
     </script>
  </head>
  <body>
    <p>Here is a map of the local area: </p>
    <div id="mapDiv"></div>
  </body>
</html>
