<!doctype html>
<html>
    <head>
        <title>Food Network</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Pacifico">
    </head>
    <body>
        <div id="index" class="container">
            <h1 id="title">Food Network</h1>
            <a class="btn btn-primary btn-lg btn-block" href="/foodbank">I'm a foodbank</a>
            <a class="btn btn-primary btn-lg btn-block" href="/receiver">I need food</a>
            <a class="btn btn-primary btn-lg btn-block" href="/donator">I have food to give</a>
        </div>
    </body>
</html>
